#side-bar {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 75px;
    height: 100%
}

#side-bar ul {
    list-style-type: none;
    padding: 0;
}

#side-bar li {
    padding: 20px;
}

#side-bar li img {
    width: 30px;
    height: 30px;
}