:root {
    --saturn-default: #6e76e5;
    --yellow-default: 223, 161, 53;
    --green-default: 37, 144, 53;
    --red-default: 252, 97, 93;
    --pink-default: 211, 179, 236;
    --purple-default: 169, 53, 223;
    --gray-default: #C5C5C5;
    --black-default: #434343;
    --input-background-color: #E5E5E5;
    --saturn-default-rgb: 110, 118, 229;
    --black-default-rgb: 67, 67, 67;
}  

* {
    font-family: "Ubuntu", sans-serif;
    color: var(--black-default);
}

html, body {
    height: 100%;
}

html, body, header, nav, main, section, footer {
    margin: 0;
    padding: 0;
}

::-webkit-file-upload-button {
    display: none;
}

.alert-card {
    position: fixed;
    background-color: #ffb2b2;
    top: 15px;
    right: 2rem;
    min-width: 200px;
    border: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
    transition: opacity 1s, display 1s allow-discrete;
}

.alert-show {
    display: block;
    opacity: 1;
}

.alert-close {
    display: none;
    opacity: 0;
}

.alert-content > span {
    color: red;
    font-weight: bold;
    display: block;
    margin-top: 0.5rem;
}

.alert-content {
    padding: 5px 15px;
}

.alert-content > p {
    color: red;
    font-weight: 400;
    font-size: 1rem;
}

.alert-bar {
    display: block;
    background-color: red;
    height: 5px;
}